<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aquario</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Aqua -->
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <!-- My-Css -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">    
  </head>

  <body>
    <div class="background-ocean"></div>

    <div class="fish-animation">
      <img class="fish fish1" src="<%= static_path(@conn, "/images/shark.png") %>">
      <img class="fish fish2" src="<%= static_path(@conn, "/images/fish4.png") %>">
      <img class="fish fish3" src="<%= static_path(@conn, "/images/fish1.png") %>">
      <img class="fish fish4" src="<%= static_path(@conn, "/images/cardume.png") %>">
      <img class="fish fish5" src="<%= static_path(@conn, "/images/cardume2.png") %>">
      <img class="dive" src="<%= static_path(@conn, "/images/dive.png") %>">      
    </div>

    <!-- Images Particle Animation -->
    <div id="particles-js" class="particles-animation"></div>
    <!-- End Particle Animation -->
    
    <div class="content">

      <!-- Novo Navbar-->
      <header>
        <div class="menu">
          <div class="bar"></div>
        </div>
        <div class="overlay"></div>
        <nav>  
          <div class="logo">
            <!-- Logo Navbar -->
            <%= link to: page_path(@conn, :index), class: "logo-link" do %>
              <img alt="Logo do Aqua Rio" title="Logo do Aqua Rio" class="logo brand" src="<%= static_path(@conn, "/images/aqua-logo.svg") %>">
            <% end %> 
            <!-- End Logo  -->    
            <ul>
              <%= link to: tank_path(@conn, :index), class: "nav-link nav-item" do %>
                <li class="nav-item">
                  <p class="nav-link"><%= gettext("Tanks") %></p>
                </li>
              <% end %>
              <%= link to: research_path(@conn, :index), class: "nav-link nav-item" do %>
                <li class="nav-item">
                  <p class="nav-link"><%= gettext("Researches") %></p>
                </li>                
              <% end %>
                <%= link to: page_path(@conn, :index), class: "nav-link nav-item" do %>
                <li class="nav-item">
                  <p class="nav-link"><%= gettext("Circuit Map") %></p>
                </li>
              <% end %>
                <%= link to: "http://blog.aquariomarinhodorio.com.br", class: "nav-link nav-item" do %>
                <li class="nav-item">
                  <p class="nav-link"><%= gettext("Extra activities") %></p>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="bandeiras">
            <a href="?locale=pt_BR"><img width="22" height="22" alt="Bandeira do Brasil" title="Bandeira do Brasil" class="ml-2" src="<%= static_path(@conn, "/images/br.png") %>"><span></span></a>
            <a href="?locale=en_US"><img width="22" height="22" alt="Bandeira dos Estados Unidos" title="Bandeira dos Estados Unidos" class="ml-3 mr-3" src="<%= static_path(@conn, "/images/us.png") %>"><span></span></a>
            <a href="?locale=es_ES"><img width="22" height="22" alt="Bandeira da Espanha" title="Bandeira do Brasil" class="ma Espanha" src="<%= static_path(@conn, "/images/es.png") %>"><span></span></a>
          </div>
        </nav>
        <!--End Navbar-->
                      
      </header> 

      <!-- Logo principal -->
        <div class="container header">
          <div class="row">
            <div class="col mt-5">
              <%= link to: page_path(@conn, :index) do %>
                <img alt="Logo do Aqua Rio" title="Logo do Aqua Rio" class="logo-tank-page" src="<%= static_path(@conn, "/images/aqua-logo.svg") %>">        
              <% end %>
            </div>    
          </div>
        </div>
        <!-- End Logo  -->   

      <main role="main" class="align-btns">            
        <%= render @view_module, @view_template, assigns %>
      </main>      

    </div> <!-- /container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Particle JS -->
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/particles/particles.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/particles/app.js") %>"></script>

    <!-- Global JS -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
    <!-- Bootstrap core JavaScript-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
