<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aquario</title>
    <!-- FontAwesome SB-Admin -->
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css">
    <!-- FontAwesome Google -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- StartBootstrap CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/sb-admin-2.min.css") %>">
    <!-- My-CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>
  <body class="bg-login">

    <div class="container mt-5 pt-5">

      <!-- Outer Row -->
      <div class="row justify-content-center mt-5 pt-5">

        <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-img"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Bem Vindo!</h1>
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Digite sua senha">
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck">
                          <label class="custom-control-label" for="customCheck">Lembrar</label>
                        </div>
                      </div>
                      <a href="index.html" class="btn btn-login btn-user btn-block">
                        Login
                      </a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

  </body>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
    <!-- Bootstrap core JavaScript-->
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.bundle.min.js") %>"></script>

    <!-- Core plugin JavaScript-->
    <script src="<%= static_path(@conn, "/js/jquery.easing.min.js") %>"></script>

    <!-- Custom scripts for all pages-->
    <script src="<%= static_path(@conn, "/js/sb-admin-2.min.js") %>"></script>

    <!-- Page level plugins -->
    <script src="<%= static_path(@conn, "/js/Chart.min.js") %>"></script>

    <!-- Page level custom scripts -->
    <script src="<%= static_path(@conn, "/js/chart-area-demo.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/chart-pie-demo.js") %>"></script>
  </body>
</html>