.bg-login-img{
  background: url(https://aquario-staging.s3.us-east-2.amazonaws.com/manual/raia.jpg);
  background-position: center;
  background-size: cover;
}
.bg-login {
  background-color: rgba(238, 238, 238, 0.466);
  background-size: cover;
}
.btn-login {
  color: #fff;
  background-color: #2f97ff;
  border-color: #2f97ff;
}
.btn-login:hover {
  color: #fff;
}