.img-thumb{
  width: 10rem;
  border-radius: 2rem;
  margin: 5px;
}
.card-img{
  display: flex;
  justify-content: center;
  width: 30%;
}

@media (max-width: 600px) {
  .card-img {
    width: 45%;
  }
  .img-thumb {
    width: 10rem;
  }
}