<%= for tank <- @tanks do %>
  <div class="container-fluid">
    <div class="d-flex flex-column align-items-stretch">
      <%= link to: tank_path(@conn, :show, tank) do %>
        <button type="button" class="btn btn-tank">
          <span class=""><img class="float-left img-thumb" src="<%= static_path(@conn, "/images/agua-viva.jpg") %>"></span> 
          <li class="align-txt-btn"><%= get_from_locale(tank, :name) %></li>
        </button>
      <% end %>    
    </div>
  </div>
<% end %>